<h2 mat-dialog-title>{{data.type === appConfig.authFormTypes.signUp ? 'Sign Up' : 'Log In'}}</h2>
<div mat-dialog-content>
  <ng-container *ngIf="data.type === appConfig.authFormTypes.signUp">
    <form [formGroup]="authForm" novalidate>
      <mat-form-field>
        <mat-label>E-mail:</mat-label>
        <input placeholder="some_mail@example.com" matInput formControlName="email" required>
        <mat-error *ngIf="authForm.controls.email.invalid">Not valid</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>First name:</mat-label>
        <input matInput formControlName="firstName" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last name:</mat-label>
        <input matInput formControlName="lastName" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Gender:</mat-label>
        <mat-select formControlName="gender" required>
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Country:</mat-label>
        <input matInput formControlName="country">
      </mat-form-field>
      <mat-form-field>
        <mat-label>City:</mat-label>
        <input matInput formControlName="city">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Address Line 1:</mat-label>
        <input matInput formControlName="addressLine1">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Address Line 2:</mat-label>
        <input matInput formControlName="addressLine2">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone:</mat-label>
        <input matInput formControlName="phone" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password:</mat-label>
        <input matInput formControlName="password" [type]="hidePass ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePass">
          <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </ng-container>

  <ng-container *ngIf="data.type === appConfig.authFormTypes.logIn">
    <form [formGroup]="authForm" novalidate>
      <mat-form-field>
        <mat-label>E-mail:</mat-label>
        <input placeholder="some_mail@example.com" matInput formControlName="email" required>
        <mat-error *ngIf="authForm.controls.email.invalid">Not valid</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password:</mat-label>
        <input matInput formControlName="password" [type]="hidePass ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePass">
          <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </ng-container>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="accent" [disabled]="!authForm.valid" [mat-dialog-close]="authForm.getRawValue()">Send data</button>
</div>
