.body-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .main {
    flex-grow: 1;
  }
}



.p {
  &r {
    &_10 {
      padding-right: 10px;
    }
  }
  &l {
    &_10 {
      padding-left: 10px;
    }
  }
}
