<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Custom toolbar</span>
      <span class="toolbar-spacer"></span>

      <button mat-button [matMenuTriggerFor]="belowMenu">
        <mat-icon class="pr_10">how_to_reg</mat-icon>
        User</button>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item (click)="openModal('sign-up')">Sign Up</button>
        <button mat-menu-item (click)="openModal('log-in')">Log In</button>
        <button mat-menu-item>Log Out</button>
      </mat-menu>

    </mat-toolbar-row>
  </mat-toolbar>
</header>
